<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form method = "POST" action="#">
    <textarea id="question" name="question" rows="5" cols="40"></textarea> <br>
    <span>A: </span><input type="text" name="A" > <br>
    <span>B:</span> <input type="text" name="B" > <br>
    <span>C:</span> <input type="text" name="C" > <br>
    <span>D:</span> <input type="text" name="D" > <br>
    <span>answer:</span><input type="text" name="answer" > <br>
    <input type="submit" value="Submit" >
</form>
</body>
</html>